In [17]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate

# Data import and analysis

In [2]:
base = pd.read_csv('./base.csv')
svf = pd.read_csv('./svf.csv')
sl = pd.read_csv('./sl.csv')

In [3]:
display( base.head(), svf.head(), sl.head())

,Volume m3,Ground Surface m2,Amount Buildings,Inset 1,Inset 2,Inset 3,Inset 4,Inset 5,Inset 6,Inset 7,...,Inset 9,Height 1,Height 2,Height 3,Height 4,Height 5,Height 6,Height 7,Height 8,Height 9
0,1256,263,6,0.55,0.73,0.30,0.48,0.39,0.00,0.41,...,0.00,4.75,7.48,1.00,3.72,2.32,0.00,2.68,0.00,0.00
1,2196,451,9,0.56,0.32,0.63,0.56,0.55,0.50,0.42,...,0.48,4.92,1.23,5.95,4.92,4.78,3.97,2.84,6.57,3.70
2,4048,595,9,0.63,0.72,0.47,0.61,0.84,0.84,0.38,...,0.33,5.96,7.37,3.62,5.60,9.04,9.07,2.13,2.87,1.46
3,4772,618,8,0.88,0.63,0.88,0.73,0.72,0.43,0.00,...,0.45,9.70,5.93,9.75,7.43,7.28,2.94,0.00,1.06,3.28
4,1795,311,4,0.00,0.00,0.00,0.00,0.59,0.67,0.76,...,0.00,0.00,0.00,0.00,0.00,5.40,6.51,7.89,5.67,0.00

,1 Kappa X,1 Kappa Y,1 Kappa Z,1 Kappa SVF,2 Kappa X,2 Kappa Y,2 Kappa Z,2 Kappa SVF,3 Kappa X,3 Kappa Y,...,998 Kappa SVF,999 Kappa X,999 Kappa Y,999 Kappa Z,999 Kappa SVF,1000 Kappa X,1000 Kappa Y,1000 Kappa Z,1000 Kappa SVF,Unnamed: 4000
0,-19.747,-19.747,0.01,88.0,-19.747,-19.747,0.01,87.0,-19.747,-19.747,...,78.0,-19.747,-19.747,0.01,99.0,-19.747,-19.747,0.01,83.0,NaN
1,-19.241,-19.747,0.01,87.0,-19.241,-19.747,0.01,86.0,-19.241,-19.747,...,78.0,-19.241,-19.747,0.01,99.0,-19.241,-19.747,0.01,82.0,NaN
2,-18.734,-19.747,0.01,86.0,-18.734,-19.747,0.01,85.0,-18.734,-19.747,...,66.0,-18.734,-19.747,0.01,99.0,-18.734,-19.747,0.01,82.0,NaN
3,-18.228,-19.747,0.01,85.0,-18.228,-19.747,0.01,84.0,-18.228,-19.747,...,62.0,-18.228,-19.747,0.01,99.0,-18.228,-19.747,0.01,82.0,NaN
4,-17.722,-19.747,0.01,84.0,-17.722,-19.747,0.01,84.0,-17.722,-19.747,...,57.0,-17.722,-19.747,0.01,99.0,-17.722,-19.747,0.01,77.0,NaN

,1 Kappa X,1 Kappa Y,1 Kappa Z,1 Kappa Sunlit %,2 Kappa X,2 Kappa Y,2 Kappa Z,2 Kappa Sunlit %,3 Kappa X,3 Kappa Y,...,998 Kappa Sunlit %,999 Kappa X,999 Kappa Y,999 Kappa Z,999 Kappa Sunlit %,1000 Kappa X,1000 Kappa Y,1000 Kappa Z,1000 Kappa Sunlit %,Unnamed: 4000
0,-19.747,-19.747,0.01,92.375,-19.747,-19.747,0.01,94.812,-19.747,-19.747,...,92.188,-19.747,-19.747,0.01,97.688,-19.747,-19.747,0.01,93.562,NaN
1,-19.241,-19.747,0.01,92.375,-19.241,-19.747,0.01,94.812,-19.241,-19.747,...,92.188,-19.241,-19.747,0.01,97.875,-19.241,-19.747,0.01,93.688,NaN
2,-18.734,-19.747,0.01,92.375,-18.734,-19.747,0.01,94.812,-18.734,-19.747,...,92.250,-18.734,-19.747,0.01,98.125,-18.734,-19.747,0.01,93.812,NaN
3,-18.228,-19.747,0.01,92.375,-18.228,-19.747,0.01,94.750,-18.228,-19.747,...,91.250,-18.228,-19.747,0.01,98.625,-18.228,-19.747,0.01,93.938,NaN
4,-17.722,-19.747,0.01,92.438,-17.722,-19.747,0.01,94.750,-17.722,-19.747,...,89.000,-17.722,-19.747,0.01,98.625,-17.722,-19.747,0.01,94.125,NaN

In [4]:
display(base.shape, svf.shape, sl.shape)

(1000, 21)

(6241, 4001)

(6241, 4001)

# Data manipulation

### Extraction and averaging of Sunlit

In [28]:
sl_out = sl.iloc[:, 3::4]
x = sl_out[sl_out > 1]
x.mean()
mean_sunlit = pd.DataFrame([x.mean()]).round(2)
mean_sunlit

,1 Kappa Sunlit %,2 Kappa Sunlit %,3 Kappa Sunlit %,4 Kappa Sunlit %,5 Kappa Sunlit %,6 Kappa Sunlit %,7 Kappa Sunlit %,8 Kappa Sunlit %,9 Kappa Sunlit %,10 Kappa Sunlit %,...,991 Kappa Sunlit %,992 Kappa Sunlit %,993 Kappa Sunlit %,994 Kappa Sunlit %,995 Kappa Sunlit %,996 Kappa Sunlit %,997 Kappa Sunlit %,998 Kappa Sunlit %,999 Kappa Sunlit %,1000 Kappa Sunlit %
0,72.92,54.99,47.44,46.59,77.41,75.35,65.85,71.48,75.13,63.97,...,93.8,49.72,96.06,42.39,65.17,54.63,58.91,48.89,92.89,76.77

### Extraction and averaging of SVF

In [29]:
svf_out = svf.iloc[:, 3::4]
x = svf_out[svf_out > 1]
x.mean()
mean_svf = pd.DataFrame([x.mean()]).round(2)
mean_svf

,1 Kappa SVF,2 Kappa SVF,3 Kappa SVF,4 Kappa SVF,5 Kappa SVF,6 Kappa SVF,7 Kappa SVF,8 Kappa SVF,9 Kappa SVF,10 Kappa SVF,...,991 Kappa SVF,992 Kappa SVF,993 Kappa SVF,994 Kappa SVF,995 Kappa SVF,996 Kappa SVF,997 Kappa SVF,998 Kappa SVF,999 Kappa SVF,1000 Kappa SVF
0,79.03,60.15,55.43,57.55,76.48,79.6,71.75,74.46,80.24,69.82,...,94.38,52.81,96.53,44.42,71.56,59.83,63.39,52.14,93.57,81.12

### Rotation and joining with Base table

In [30]:
mean_sunlitx= mean_sunlit.T
mean_sunlit1 = mean_sunlitx.rename(columns={0: "Sunlit %"})

mean_svfx = mean_svf.T
mean_svf1 = mean_svfx.rename(columns={0: "SVF %"})

mean_svf2 = mean_svf1.reset_index(drop=True)
mean_sunlit2 = mean_sunlit1.reset_index(drop=True)
result = pd.concat([base,mean_sunlit2, mean_svf2],axis=1)
#result.to_csv('result.csv')
result

,Volume m3,Ground Surface m2,Amount Buildings,Inset 1,Inset 2,Inset 3,Inset 4,Inset 5,Inset 6,Inset 7,...,Height 2,Height 3,Height 4,Height 5,Height 6,Height 7,Height 8,Height 9,Sunlit %,SVF %
0,1256,263,6,0.55,0.73,0.30,0.48,0.39,0.00,0.41,...,7.48,1.00,3.72,2.32,0.00,2.68,0.00,0.00,72.92,79.03
1,2196,451,9,0.56,0.32,0.63,0.56,0.55,0.50,0.42,...,1.23,5.95,4.92,4.78,3.97,2.84,6.57,3.70,54.99,60.15
2,4048,595,9,0.63,0.72,0.47,0.61,0.84,0.84,0.38,...,7.37,3.62,5.60,9.04,9.07,2.13,2.87,1.46,47.44,55.43
3,4772,618,8,0.88,0.63,0.88,0.73,0.72,0.43,0.00,...,5.93,9.75,7.43,7.28,2.94,0.00,1.06,3.28,46.59,57.55
4,1795,311,4,0.00,0.00,0.00,0.00,0.59,0.67,0.76,...,0.00,0.00,0.00,5.40,6.51,7.89,5.67,0.00,77.41,76.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2879,491,8,0.42,0.49,0.86,0.46,0.50,0.00,0.60,...,3.84,9.35,3.41,3.94,0.00,5.54,5.73,6.18,54.63,59.83
996,3094,507,5,0.00,0.85,0.00,0.89,0.00,0.78,0.00,...,9.18,0.00,9.78,0.00,8.22,0.00,5.38,5.89,58.91,63.39
997,5007,726,7,0.87,0.70,0.00,0.00,0.72,0.79,0.76,...,6.97,0.00,0.00,7.31,8.34,7.97,7.45,7.85,48.89,52.14
998,365,44,1,0.00,0.00,0.00,0.00,0.00,0.50,0.00,...,0.00,0.00,0.00,0.00,3.99,0.00,0.00,0.00,92.89,93.57
999,1409,206,4,0.69,0.37,0.00,0.59,0.00,0.00,0.00,...,2.04,0.00,5.34,0.00,0.00,0.00,0.00,3.10,76.77,81.12

## Data cleaning (from strings to real values)

In [31]:
#first_two = result.iloc[:,:2]

#first_two.iloc[:,0] = first_two.iloc[:,0].str.replace('[', '').str.replace(']', '')
#first_two.iloc[:,1] = first_two.iloc[:,1].str.replace('[', '').str.replace(']', '')

#first_two.iloc[:,0] = pd.to_numeric(first_two.iloc[:,0])
#first_two.iloc[:,1] = pd.to_numeric(first_two.iloc[:,1])

#df1 = pd.DataFrame(columns=np.arange(8))
#step1 = base[2].str.replace('[', '').str.replace(']', '')
#for elem in step1.values:
#    numpy_elem = np.fromstring(elem,dtype=float,sep=',')
#    df1 = df1.append(pd.DataFrame(numpy_elem).T)
    
#df2 = pd.DataFrame(columns=np.arange(8))
#step1 = base[3].str.replace('[', '').str.replace(']', '')
#for elem in step1.values:
#    numpy_elem = np.fromstring(elem,dtype=float,sep=',')
#    df2 = df2.append(pd.DataFrame(numpy_elem).T)
    
#df3 = pd.DataFrame(columns=np.arange(8))
#step1 = base[3].str.replace('[', '').str.replace(']', '')
#for elem in step1.values:
#    numpy_elem = np.fromstring(elem,dtype=float,sep=',')
#    df3 = df3.append(pd.DataFrame(numpy_elem).T)
    
#clean_df = pd.concat([df1,df2,df3],axis=1)
#clean_df = clean_df.reset_index(drop=True)
#clean_df = pd.concat([first_two,clean_df,mix.iloc[:,-2:]],axis=1)

result.columns = range(result.shape[1])
clean_df = result.rename(columns={21: "sunlit", 22: "svf"})
clean_df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,sunlit,svf
0,1256,263,6,0.55,0.73,0.30,0.48,0.39,0.00,0.41,...,7.48,1.00,3.72,2.32,0.00,2.68,0.00,0.00,72.92,79.03
1,2196,451,9,0.56,0.32,0.63,0.56,0.55,0.50,0.42,...,1.23,5.95,4.92,4.78,3.97,2.84,6.57,3.70,54.99,60.15
2,4048,595,9,0.63,0.72,0.47,0.61,0.84,0.84,0.38,...,7.37,3.62,5.60,9.04,9.07,2.13,2.87,1.46,47.44,55.43
3,4772,618,8,0.88,0.63,0.88,0.73,0.72,0.43,0.00,...,5.93,9.75,7.43,7.28,2.94,0.00,1.06,3.28,46.59,57.55
4,1795,311,4,0.00,0.00,0.00,0.00,0.59,0.67,0.76,...,0.00,0.00,0.00,5.40,6.51,7.89,5.67,0.00,77.41,76.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2879,491,8,0.42,0.49,0.86,0.46,0.50,0.00,0.60,...,3.84,9.35,3.41,3.94,0.00,5.54,5.73,6.18,54.63,59.83
996,3094,507,5,0.00,0.85,0.00,0.89,0.00,0.78,0.00,...,9.18,0.00,9.78,0.00,8.22,0.00,5.38,5.89,58.91,63.39
997,5007,726,7,0.87,0.70,0.00,0.00,0.72,0.79,0.76,...,6.97,0.00,0.00,7.31,8.34,7.97,7.45,7.85,48.89,52.14
998,365,44,1,0.00,0.00,0.00,0.00,0.00,0.50,0.00,...,0.00,0.00,0.00,0.00,3.99,0.00,0.00,0.00,92.89,93.57
999,1409,206,4,0.69,0.37,0.00,0.59,0.00,0.00,0.00,...,2.04,0.00,5.34,0.00,0.00,0.00,0.00,3.10,76.77,81.12

In [9]:
result.shape

(1000, 23)

In [10]:
result = result.drop_duplicates()
result.shape

(1000, 23)

# Machine learning

### Predict sunlist

In [35]:
# result1 = clean_df.dropna()
# clean_df1 =result1.sample(frac=1)
# clean_df2 = clean_df1.reset_index(drop=True)

# regr = RandomForestRegressor()
# regr.fit(X_train,y_train)
# prediction = regr.predict(X_test)

# y = clean_df2['sunlit']
# X = clean_df2.iloc[:,:22]
# scores = cross_validate(regr, X, y, cv=10, scoring=('neg_mean_squared_error'), return_train_score=True)
# print(scores)

In [36]:
result1 = clean_df.dropna()
#shuffle and reset index
clean_df1 =result1.sample(frac=1)
clean_df2 = clean_df1.reset_index(drop=True)

train = clean_df2[0:950]
test = clean_df2[-50:]

y_train = train['sunlit']
#print(y_train.describe())
X_train = train.iloc[:,:22]
y_test = test['sunlit']
X_test = test.iloc[:,:22]

regr = RandomForestRegressor()
regr.fit(X_train,y_train)
prediction = regr.predict(X_test)

y_test = y_test.reset_index(drop=True)
print("Mean absolute error for Sunlit prediction:",mean_absolute_error(y_test, prediction))
res1 = pd.concat([pd.DataFrame(prediction, columns=['Predicted sunlit']),y_test],axis=1)

Mean absolute error for Sunlit prediction: 0.0476179999999988

In [37]:
result1 = clean_df.dropna()
#shuffle and reset index
clean_df1 = result1.sample(frac=1)
clean_df2 = clean_df1.reset_index(drop=True)

train = clean_df2[0:950]
test = clean_df2[-50:]

y_train = train['svf']
X_train = train.iloc[:,:23]
y_test = test['svf']
X_test = test.iloc[:,:23]

regr = RandomForestRegressor()
regr.fit(X_train,y_train)
prediction = regr.predict(X_test)

y_test = y_test.reset_index(drop=True)
print("Mean absolute error for SVF prediction:",mean_absolute_error(y_test, prediction))
res2 = pd.concat([pd.DataFrame(prediction, columns=['Predicted svf']),y_test],axis=1)

Mean absolute error for SVF prediction: 0.03892600000000399

In [38]:
prediction_table = pd.concat([res1,res2],axis=1)
prediction_table

    Predicted sunlit  sunlit  Predicted svf    svf
0            64.3054   64.40        84.2055  84.19
1            65.1816   65.16        73.5776  73.59
2            49.6707   49.62        72.9016  72.87
3            41.7837   41.72        51.1969  51.02
4            55.4722   55.34        63.2435  63.23
5            56.4456   56.40        81.8257  81.83
6            43.5318   43.52        76.5599  76.54
7            70.5707   70.60        67.6928  67.69
8            62.5210   62.47        83.0848  83.04
9            97.6023   97.71        65.6151  65.59
10           91.7897   91.77        93.2444  93.28
11           48.5146   48.50        64.2169  64.24
12           90.4386   90.43        63.9103  63.82
13           67.9630   68.01        62.0241  61.94
14           95.5556   95.55        80.8673  80.90
15           65.2230   65.20        89.2463  89.28
16           91.5315   91.53        87.8917  87.86
17           88.4066   88.44        93.7226  93.74
18           57.5556   57.43        77.7784  77.77
19           62.5961   62.60        62.4445  62.51
20           83.4286   83.49        55.3962  55.37
21           81.9220   81.89        73.1358  73.11
22           72.0019   72.00        87.8836  87.87
23           80.1461   80.14        92.0303  91.98
24           84.0406   84.08        52.0838  52.04
25           55.5897   55.65        75.3295  75.31
26           70.9080   70.93        59.2474  59.25
27           47.7949   47.83        89.2259  89.27
28           93.9029   93.92        65.5195  65.50
29           63.5720   63.52        70.2528  70.22
30           40.4869   40.48        70.7106  70.68
31           50.0373   49.93        93.5000  93.46
32           92.6772   92.65        96.2231  96.31
33           76.6743   76.66        74.2224  74.27
34           72.5177   72.46        65.5709  65.56
35           65.2756   65.31        80.0526  80.01
36           67.3911   67.38        59.7034  59.60
37           70.9313   70.97        53.3759  53.45
38           94.4004   94.42        87.3637  87.38
39           93.8852   93.90        87.2205  87.23
40           71.4354   71.48        83.8304  83.78
41           95.9278   95.85        80.0405  80.03
42           81.9128   81.96        55.7780  55.78
43           43.4611   43.83        61.2847  61.16
44           63.6097   63.56        73.9590  73.94
45           48.9043   48.89        79.9498  79.94
46           57.4815   57.38        70.1268  70.08
47           63.5215   63.45        70.9616  71.01
48           83.3275   83.28        93.9533  94.03
49           48.9175   48.91        71.4386  71.39